<header class="text-gray-600 body-font bg-blue-900">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <!-- Logo and navigation -->
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img class="object-cover h-30 w-20" src="..\assets\logo2-2-120x85.png" alt="image description">
      <span class="ml-3 text-4xl text-white">E-credit</span>
    </a>
    
    <!-- Navigation for users -->
    <nav *ngIf="isUser" class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a *ngIf="link !== '/towStepAuth' && link !== '/login' && link !== '/signup'" [routerLink]="'demande'" class="mr-5 hover:text-orange-600 text-white">Demande</a>
      <a *ngIf="link !== '/towStepAuth' && link !== '/login' && link !== '/signup'" [routerLink]="'myDemande'" class="mr-5 hover:text-orange-600 text-white">Mes demandes</a>
    </nav>
    
    <!-- Navigation for admins -->
    <nav *ngIf="isAdmin" class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a *ngIf="link !== '/towStepAuth' && link !== '/login' && link !== '/signup'" [routerLink]="'demande'" class="mr-5 hover:text-orange-600 text-white">Demande</a>
      <a *ngIf="link !== '/towStepAuth' && link !== '/login' && link !== '/signup'" [routerLink]="'consultation'" class="mr-5 hover:text-orange-600 text-white">Crédit </a>
    </nav>
    
    <!-- Button Container -->
    <div class="ml-auto flex items-center">
      <button (click)="logout()" *ngIf="isLoggedIn && link !== '/towStepAuth' && link !== '/login' && link !== '/signup'" class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded-full text-lg">Déconnexion</button>
      <button *ngIf="!isLoggedIn" [routerLink]="'login'" class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded-full text-lg">Connexion</button>
    </div>
  </div>
</header>
