<header class="text-gray-600 body-font bg-blue-900 rounded">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="object-cover h-30 w-20" src="..\assets\logo2-2-120x85.png" alt="image description">
        <span class="ml-3 text-xl text-white">E-credit</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-orange-600 text-white" >First Link</a>
        <a class="mr-5 hover:text-orange-600 text-white">Second Link</a>
        <a class="mr-5 hover:text-orange-600 text-white">Third Link</a>
        <a class="mr-5 hover:text-orange-600 text-white">Fourth Link</a>
      </nav>
      <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Button
       
      </button>
    </div>
  </header>